<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AT -->
      <package
            uri="http://at/1.0"
            class="nl.utwente.fmt.atmm.AT.ATPackage"
            genModel="model/AT.genmodel"/>
   </extension>

</plugin>
